body {
  min-height: 100vh;
  margin: auto;
  background: rgb(114, 76, 191);
  background: linear-gradient(
    0deg,
    rgba(114, 76, 191, 1) 1%,
    rgba(191, 141, 195, 1) 37%,
    rgba(145, 226, 232, 1) 100%
  );
}

.nav {
  margin-right: 5px;
  font-size: 20px;
  letter-spacing: 3px;
  text-decoration: none;
}

.href {
  margin-top: 12px;
  text-align: end;
}

a {
  text-decoration: none;
  color: rgb(90, 3, 76);
}

a:hover {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.logo {
  margin: 12px;
  grid-area: 1 / 1 / 2 / 2;
}

.menu {
  grid-area: 1 / 2 / 2 / 4;
}
.main {
  grid-area: 2 / 1 / 6 / 3;
  border: 1px solid black;
}
.aside {
  grid-area: 2 / 3 / 6 / 4;
  border: 1px solid black;
}
.sponsors {
  grid-area: 6 / 1 / 8 / 4;
  border: 1px solid black;
}
.footer {
  grid-area: 8 / 1 / 10 / 4;
  border: 1px solid black;
  padding: 10px;
}
