*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  background: rgb(114, 76, 191);
  background: linear-gradient(
    0deg,
    rgba(114, 76, 191, 1) 1%,
    rgba(191, 141, 195, 1) 37%,
    rgba(145, 226, 232, 1) 100%
  );
}

:root {
  --bar-width: 40px;
  --bar-height: 8px;
  --hamburger-gap: 4px;
  --foreground: white;
  --background: black;
  --hamburger-margin: 8px;
  --animation-timing: 300ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 10vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
  border: 1px solid black;
  padding: 30px 30px;
}
.menu {
  grid-area: 1 / 2 / 2 / 4;

  border: 1px solid black;
}
.main {
  grid-area: 2 / 1 / 6 / 3;
  border: 1px solid black;
}
.aside {
  grid-area: 2 / 3 / 6 / 4;
  border: 1px solid black;
}
.sponsors {
  grid-area: 6 / 1 / 8 / 4;
  border: 1px solid black;
}
.footer {
  grid-area: 8 / 1 / 10 / 4;
  border: 1px solid black;
}
