body {
  min-height: 100vh;
  display: grid;
  background: rgb(114, 76, 191);
  background: linear-gradient(
    0deg,
    rgba(114, 76, 191, 1) 1%,
    rgba(191, 141, 195, 1) 37%,
    rgba(145, 226, 232, 1) 100%
  );
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
  border: 1px solid black;
  padding: 30px 30px;
}
.menu {
  grid-area: 1 / 2 / 2 / 4;

  border: 1px solid black;
}
.main {
  grid-area: 2 / 1 / 6 / 3;
  border: 1px solid black;
}
.aside {
  grid-area: 2 / 3 / 6 / 4;
  border: 1px solid black;
}
.sponsors {
  grid-area: 6 / 1 / 8 / 4;
  border: 1px solid black;
}
.footer {
  grid-area: 8 / 1 / 10 / 4;
  border: 1px solid black;
}
